spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/springboot_jpa_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

cloudinary:
  cloud-name: dic7vvuah
  api-key: 851326586715864
  api-secret: f_vB3O_nAMZKW9sYBAV-8IYga-A

