spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB
      location: /tmp

server:
  tomcat:
    max-http-form-post-size: 50MB
    max-swallow-size: -1

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

logging:
  level:
    org.springframework.web.multipart: TRACE
    org.springframework.web: DEBUG
    org.apache.tomcat.util.http.fileupload: DEBUG
    org.apache.catalina.connector.Request: DEBUG
