name: CI/CD Backend

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Grant execute permission for Maven wrapper
        run: chmod +x ./mvnw

      - name: Build & Push Docker image to GHCR
        run: ./mvnw clean compile jib:build \
          -Dimage=ghcr.io/${{ secrets.GHCR_USERNAME }}/next-step-edu-backend:latest \
          -Djib.to.auth.username=${{ secrets.GHCR_USERNAME }} \
          -Djib.to.auth.password=${{ secrets.GHCR_TOKEN }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Deploy to Railway
        uses: railwayapp/railway-action@v2
        with:
          apiKey: ${{ secrets.RAILWAY_API_KEY }}
          projectId: 65638b8c-872e-422d-bf62-c2761f3d2441
          branch: main
